<Layout Sider="true">
    <Layout>
        <LayoutHeader Fixed="true">
            Header
        </LayoutHeader>
        <LayoutContent>
            Content
        </LayoutContent>
    </Layout>
    <LayoutSider>
        <LayoutSiderContent>
            <Bar Mode="BarMode.VerticalInline" CollapseMode="BarCollapseMode.Small">
                <BarBrand>
                    ...
                </BarBrand>
                <BarMenu>
                    <BarStart>
                        <BarItem>
                            <BarDropdown>
                                <BarDropdownToggle>
                                    ...
                                </BarDropdownToggle>
                                <BarDropdownMenu RightAligned="true">
                                    ...
                                </BarDropdownMenu>
                            </BarDropdown>
                        </BarItem>
                    </BarStart>
                </BarMenu>
            </Bar>
        </LayoutSiderContent>
    </LayoutSider>
</Layout>
@*<Bar Breakpoint="Breakpoint.Desktop"
     Background="Background.Light"
     ThemeContrast="ThemeContrast.Light">
    <BarBrand>
        Brandname
    </BarBrand>
    <BarToggler> </BarToggler>
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="#home">Home</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="#docs">Documentation</BarLink>
            </BarItem>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>Dropdown</BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem>Action</BarDropdownItem>
                        <BarDropdownItem>Another action</BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
        </BarStart>
        <BarEnd>
            <BarItem>
                <Button Color="Color.Primary">Sign up</Button>
                <Button Color="Color.Secondary">Log in</Button>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>*@



@*<Bar Mode="BarMode.VerticalInline"
     CollapseMode="BarCollapseMode.Small"
     Breakpoint="Breakpoint.Desktop"
     NavigationBreakpoint="Breakpoint.Tablet"
     ThemeContrast="ThemeContrast.Dark">
    <BarBrand>
        <BarItem>
            <BarLink To="">
                <BarIcon IconName="IconName.Dashboard" />
                Blazorise Demo
            </BarLink>
        </BarItem>
    </BarBrand>
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="#home">
                    <BarIcon IconName="IconName.Dashboard" />
                    Home
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="#docs">Documentation</BarLink>
            </BarItem>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>
                        <BarIcon IconName="IconName.Edit" />
                        Dropdown
                    </BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem>Action</BarDropdownItem>
                        <BarDropdownItem>Another action</BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
        </BarStart>
    </BarMenu>
</Bar>*@
@*<Sidebar @ref="sidebar">
    <SidebarContent>
        <SidebarBrand>

            <a href="">Arıza Bildirim Formu</a>
        </SidebarBrand>
        <SidebarNavigation>
            <SidebarLabel>Main</SidebarLabel>
            <AuthorizeView Roles="FaultRecorder">
                <Authorized>

                    <SidebarItem>
                        <SidebarLink To="/fault/create" Title="Arıza Formu">
                            <Icon Name="IconName.Tablet" Margin="Margin.Is3.FromRight" />Arıza Formu
                        </SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To="/fault" Title="Arıza Listesi">
                            <Icon Name="IconName.List" Margin="Margin.Is3.FromRight" />Arıza Listesi
                        </SidebarLink>
                    </SidebarItem>
                </Authorized>
            </AuthorizeView>


            <AuthorizeView Roles="FaultEnded">
                <Authorized>
                    <SidebarItem>
                        <SidebarLink To="/fault/search" Title="Arıza Sorgula">
                            <Icon Name="IconName.Search" Margin="Margin.Is3.FromRight" />Arıza Sorgula
                        </SidebarLink>
                    </SidebarItem>
                </Authorized>
            </AuthorizeView>
        </SidebarNavigation>
    </SidebarContent>
</Sidebar>*@

@code {



    Sidebar sidebar;
    ////SidebarSubItem mailSidebarSubItems;
    ////SidebarSubItem appsSidebarSubItems;

    void ToggleSidebar()
    {
        sidebar.Toggle();
    }


}


