<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">FaultApp2</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>


<Sidebar @ref="sidebar">
    <SidebarContent>
        @*<SidebarBrand>
                <a href="">Blazorise Sidebar</a>
            </SidebarBrand>*@
        <SidebarNavigation>
            @*<SidebarLabel>Main</SidebarLabel>*@
            <AuthorizeView Roles="FaultRecorder">
                <Authorized>

                    <SidebarItem>
                        <SidebarLink To="/fault/create" Title="Arıza Formu">
                            <Icon Name="IconName.Tablet" Margin="Margin.Is3.FromRight" />Arıza Formu
                        </SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To="/fault" Title="Arıza Listesi">
                            <Icon Name="IconName.List" Margin="Margin.Is3.FromRight" />Arıza Listesi
                        </SidebarLink>
                    </SidebarItem>
                </Authorized>
            </AuthorizeView>


            <AuthorizeView Roles="FaultEnded">
                <Authorized>
                    <SidebarItem>
                        <SidebarLink To="/fault/search" Title="Arıza Sorgula">
                            <Icon Name="IconName.Search" Margin="Margin.Is3.FromRight" />Arıza Sorgula
                        </SidebarLink>
                    </SidebarItem>
                    </Authorized>
                </AuthorizeView>
        </SidebarNavigation>
    </SidebarContent>
</Sidebar>


<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }



    Sidebar sidebar;
    //SidebarSubItem mailSidebarSubItems;
    //SidebarSubItem appsSidebarSubItems;

    void ToggleSidebar()
    {
        sidebar.Toggle();
    }


}
