@page "/"
@inject NavigationManager uriHelper

<AuthorizeView>
    <Authorized>
        @*<h1>Hello @context.User.Identity.Name !!</h1>

            <p>Welcome to Blazor Learner</p>*@

        uriHelper.NavigateTo("fault");

        <SurveyPrompt Title="How is Blazor working for you?" />
    </Authorized>
    <Authorizing>
        <h1>Loading ...</h1>
    </Authorizing>
</AuthorizeView>